<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JoppotUnity</title>

    <link rel="stylesheet" href="/CSS/templates.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/inputSubmit.css">
    <link rel="stylesheet" href="/CSS/alert.css">
    <style>

        #skills {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            font-size: 18px;
            text-align: left;
        }

        #skills th, #skills td {
            padding: 12px;
            border: 1px solid #dee2e6;
        }

        #skills th {
            background-color: #d9d9db;
            color: #242323;
            font-weight: bold;
        }

        #skills tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #skills tr:hover {
            background-color: #e9ecef;
        }
    </style>
    <script>
        function addJobSkillRow() {
            const tbody = document.getElementById("jobSkillsTableBody");
            const lastRow = tbody.rows[tbody.rows.length - 1];
            const newRow = lastRow.cloneNode(true);
            const inputs = newRow.getElementsByTagName("input");
            const selects = newRow.getElementsByTagName("select");

            for (let input of inputs) {
                input.value = "";
            }
            for (let select of selects) {
                select.selectedIndex = 0;
            }

            const rowIndex = tbody.rows.length;
            for (let select of selects) {
                const thName = select.getAttribute("th:name");
                if (thName) {
                    const newThName = thName.replace(/\[.*?\]/, `[${rowIndex}]`);
                    select.setAttribute("th:name", newThName);
                }
            }
            for (let input of inputs) {
                const thName = input.getAttribute("th:name");
                if (thName) {
                    const newThName = thName.replace(/\[.*?\]/, `[${rowIndex}]`);
                    input.setAttribute("th:name", newThName);
                }
            }

            tbody.appendChild(newRow);
        }

        function removeJobSkillRow() {
            const tbody = document.getElementById("jobSkillsTableBody");
            if (tbody.rows.length > 1) {
                tbody.removeChild(tbody.rows[tbody.rows.length - 1]);
            }
        }
    </script>
</head>
<header>
    <nav class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/companies">Companies</a></li>
            <li><a href="/jobs">Jobs</a></li>
        </ul>
    </nav>
</header>
<body>
<div class="container">

    <h1>Edit Candidate</h1>
    <button type="button" onclick="location.href='http://localhost:8080/candidates'">Back</button>
    <form action="#" th:action="@{/candidates/update}" th:object="${candidate}" method="post">
        <input type="hidden" name="id" th:field="${candidate.id}">
        <table>
            <tr>
                <td><label for="full_name">Name:</label></td>
                <td><input type="text" id="full_name" name="full_name" th:field="*{fullName}"></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="text" id="email" name="email" th:field="*{email}"></td>
            </tr>
            <tr>
                <td><label for="dob">Date of Birth:</label></td>
                <td><input type="date" id="dob" name="dob" th:value="${candidate.dob}"></td>
            </tr>
            <tr>
                <td><label for="phone">Phone number:</label></td>
                <td><input type="text" id="phone" name="phone" th:field="*{phone}"></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input type="hidden" th:field="${candidate.address.id}"></td>
                <td><input type="text" th:field="${candidate.address.number}"></td>
                <td><input type="text" th:field="${candidate.address.zipcode}"></td>
                <td><input type="text" th:field="${candidate.address.street}"></td>
                <td><input type="text" th:field="${candidate.address.city}"></td>
                <td>
                    <select th:field="${candidate.address.country}">
                        <option th:each="Country : ${country}"
                                th:value="${Country.getAlpha2()}"
                                th:text="${Country.getName()}"
                                th:selected="${Country.getAlpha2() == candidate.address.country.getAlpha2()}">
                    </select>
                </td>
            </tr>
        </table>

        <h1>Skills</h1>
        <table id="skills">
            <thead>
            <tr>
                <th>Skill</th>
                <th>Level</th>
                <th>More Infomation</th>
            </thead>
            <tbody id="jobSkillsTableBody">
            <tr th:each="skill, iterStat : ${candidate.getCandidateSkills()}">
                <td>
                    <select th:name="skills">
                        <option th:each="availableSkill : ${skills}" th:value="${availableSkill.id}"
                                th:text="${availableSkill.skillName}"
                                th:selected="${availableSkill.id == skill.skill.id}"></option>
                    </select>
                </td>
                <td>
                    <select th:name="skillLevels">
                        <option th:each="level : ${skillLevels}" th:value="${level}" th:text="${level}"
                                th:selected="${level == skill.skillLevel}"></option>
                    </select>
                </td>
                <td>
                    <input type="text" th:name="moreInfos" th:value="${skill.moreInfos}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="addJobSkillRow()">+</button>
        <button type="button" onclick="removeJobSkillRow()">-</button>
        <input type="submit" value="Update">
    </form>

</div>
<script src="/JS/alert.JS"></script>
</body>
</html>