body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 10vh auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #d9d9db;
    color: #242323;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inline a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
}

.inline:hover a {
    background-color: #d9b801;
}

.inline a.active {
    background-color: #FBD603;
    border: 1px solid darkred;
}

div.inline {
    color: black;
    float: none;
    padding: 5px 5px;
    display: inline-block;
}

button {
    padding: 10px 20px;
    background-color: #f7c235;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c6940b;
}

li {
    list-style-type: none;
}

.header {
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #007bff;
}

.skills {
    border-radius: 12px;
    padding: 5px 10px;
    display: inline-block;
    margin: 2px;
    color: #000000;
    font-size: 13px;
}

.skills:nth-child(odd) {
    background-color: #f7c235;
}

.skills:nth-child(even) {
    background-color: #dfdfe0;
}