<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JoppotUnity</title>
    <link rel="stylesheet" href="/CSS/templates.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/inputSubmit.css">
    <link rel="stylesheet" href="/CSS/alert.css">


</head>
<header>
    <nav class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/companies">Companies</a></li>
            <li><a href="/jobs">Jobs</a></li>
        </ul>
    </nav>
</header>
<body>
<div id="successMessage" th:if="${message}" class="alert alert-success" th:text="${message}"></div>
<div id="errorMessage" th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
<div class="container">
    <form action="/companies" method="get">
        <button type="submit">Back</button>
    </form>
    <br>
    <form th:action="@{/companies/show_edit_form/{id}(id=${company.id})}" method="get"
          style="display:inline;">
        <button type="submit">Edit</button>
    </form>
    <h1>About company</h1>
    <div>
        <p>Company name: <span th:text="${company.compName}"></span></p>
        <p>Email: <span th:text="${company.email}"></span></p>
        <p>Phone: <span th:text="${company.phone}"></span></p>
        <p>Web URL: <span th:text="${company.webUrl}"></span></p>
        <p>About: <span th:text="${company.about}"></span></p>
        <p>Address: <span
                th:text="${company.address.street} +' ,' + ${company.address.city} +' ,' + ${company.address.country.getName()}"></span>
        </p>
    </div>
    <h1>Jobs</h1>
    <form th:action="@{/jobs/show_add_form/{id}(id=${company.id})}" method="get" style="display:inline;">
        <button type="submit">Add</button>
    </form>

    <table>
        <tr>
            <th>No.</th>
            <th>Job Title</th>
            <th>Job Description</th>
            <th>Skills</th>
            <th>Action</th>
            <th>View candidate suitable</th>
        </tr>
        <tr th:each="job, iStat : ${jobPage.content}">
            <td th:text="${iStat.index + 1}"></td>
            <td th:text="${job.jobName}"></td>
            <td th:text="${job.jobDesc}"></td>
            <td>
                <ul>
                    <li th:each="skill : ${job.getJobSkills()}"
                        th:text="${skill.skill.skillName} + ' ,' + ${skill.skill.type} + ': ' + ${skill.skillLevel}"
                        class="skills"></li>
                </ul>
            </td>
            <td>
                <form th:action="@{/jobs/edit/{id}(id = ${job.id})}"
                      method="get" style="display:inline;">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/jobs/show_candidate_matching/{id}/{jobID}(id=${company.id}, jobID=${job.id})}"
                      method="get" style="display:inline;">
                    <button type="submit">View</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="/JS/alert.js"></script>
</body>
</html>